#cloud-config
{% if password is defined %}
password: {{ password }}
chpasswd: { expire: False }
ssh_pwauth: True
{% endif %}

{% if ssh_keys is defined %}
ssh_authorized_keys:
{% for key in ssh_keys %}
  - {{ key }}
{% endfor %}
{% endif %}
write_files:
  - encoding: base64
    content: {{ netplan }}
    path: /etc/netplan/50-cloud-init.yaml
runcmd:
  - netplan apply