#cloud-config
{% if password is defined %}
password: {{ password }}
chpasswd: { expire: False }
ssh_pwauth: True
{% endif %}

{% if ssh_keys is defined %}
ssh_authorized_keys:
{% for key in ssh_keys %}
  - {{ key }}
{% endfor %}
{% endif %}
write_files:
  - encoding: base64
    content: |
      network:
        version: 2
        ethernets:
          ens192:
            dhcp4: no
            addresses:
              - {{ static_ipv4 }}/{{ netmask }}
            gateway4: {{ gateway }}
            nameservers:
{% if dns_search|length > 0 %}
              search:
{% for search in dns_search %}
                - {{ search }}
{% endfor %}
{% endif %}
              addresses:
{% for server in dns_servers %}
                - {{ server }}
{% endfor %}
    path: /etc/netplan/50-cloud-init.yaml
runcmd:
  - sudo netplan apply